@use '../../../sass/utilities/' as *;

.section {
	margin-bottom: 8em;
}

.img {
	margin-bottom: 2.5em;
	display: block;
	width: 100%;
}

.title,
.desc {
	text-align: center;
}

.title {
	@include joseFont;
}

.desc {
	margin-top: 1em;
	padding: 0 1.1em;
	color: $dark-gray;
	font-size: 1.6rem;
	line-height: 1.8;
}
