@use '../../../sass/utilities/' as *;

.section {
	margin-bottom: 8em;
}

.img {
	margin-bottom: 2.5em;
	display: block;
	width: 100%;
}

.title,
.desc {
	text-align: center;
}

.title {
	@include joseFont;
}

.desc {
	margin-top: 1em;
	padding: 0 1.1em;
	color: $dark-gray;
	font-size: 1.6rem;
	line-height: 1.8;
}

@media (min-width: 992px) {
	.section {
		@include wrapper;
		position: relative;
		margin-bottom: 10em;
	}

	.img {
		width: 63%;
	}

	.textBox {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 4.5em 0.2em 0 4.5em;
		width: 50%;
		background-color: $white;
	}

	.title,
	.desc {
		text-align: left;
	}

	.desc {
		padding-left: 0;
	}
}
