@use '../../../sass/utilities/' as *;

.nav {
	@include nav;
	padding: 1.5em;
	height: 6.25em;
}

.logo {
	width: 9.188em;
}

.logo,
.hamburger {
	z-index: 15;
}

.hamburger {
	padding: 1em;
	padding-right: 0;
	transition: opacity 0.15s, visibility 0.15s;
}

.hamburgerIcon {
	width: 1.563em;
}

.navMenu,
.menu {
	display: flex;
}

.navMenu {
	padding: 0 1.5em;
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 25em;
	height: 100%;
	background-color: $black;
	opacity: 0;
	visibility: hidden;
	z-index: -10;
	transition: opacity 0.15s, visibility 0.15s;
}

.menu {
	flex-direction: column;
	row-gap: 1em;
}

.link {
	color: $white;
	font-family: $fontJos;
	font-weight: $josefin;
	font-size: 2.8rem;
	text-transform: uppercase;
}
.active {
	visibility: visible;
	z-index: 7;
	opacity: 1;
}

@media (min-width: 992px) {
	.nav {
		display: none;
	}
}
