@use '../../sass/utilities/' as *;

.header {
	position: relative;
	height: 100%;
	margin-top: -6.563em;
	z-index: 5;
}

.pattern {
	width: 100%;
}

.textBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 2.5em);
	border: 2px solid $white;
	padding: 1.2em;
	z-index: 5;
}

.title {
	@include joseFont;
	padding-right: 1em;
	text-align: left;
	color: $white;
	font-size: 4.5rem;
	line-height: 1;
}

@media (min-width: 992px) {
	.header {
		margin-top: -11.5vw;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	.pattern {
		display: block;
	}

	.textBox {
		top: 57%;
		@include wrapper;
		border: none;
		padding-left: 0;
		margin-left: 1.5em;
	}

	.title {
		border: 2px solid $white;
		padding: 0.45em 1.8em 0.3em 0.3em;
		width: 10em;
		font-size: 6.3rem;
		letter-spacing: 2px;
	}
}
